#regSuc{
  font-size: 14px;
}

#regFail{
  font-size: 14px;
  color: red;
}

.review-card{
  background:linear-gradient(rgb(163, 138, 105,.75),rgba(56, 41, 29, 0.928));
  margin: 60px auto;
  padding: 1px 20px 20px 90px;
  position: relative;
  border-radius:10px;
}

.navLinks{
    box-shadow: 0px 0px 10px #dbc1ac;
    border-radius: 10px;
      background-image: linear-gradient(rgba(219, 193, 172, .2), rgba(56, 34, 15, 0.75)), url('/navBeans1.jpg');
  background-size: cover;
}

.navLinks ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px; /* Adjust this value as needed */
  padding: 0; /* Remove any default padding or margins */
  margin: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adding drop shadow */
  border-radius: 10px; /* Adding rounded corners */
}


.navLinks a{
  color: rgb(216, 178, 178);
  text-decoration:none;
}

ul li a{
  font-size:larger
}

body{
  /* background: linear-gradient(#967259, #523527e8); */
  background-image: linear-gradient(rgba(45, 28, 13, 0.781), rgba(56, 34, 15)), url('/navBeans1.jpg');

}

.navLinks li{
  color:black
}

.navLinks a:hover{
  color: white;
}

.review-card .rating{
  position: absolute;
  top:-20px;
  left:-5px;
  background:#38220f;
  font-size:20px;
  width:90px;
  height:90px;
  text-align:center;
  color:white;
  border-radius:15px;
}



.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-style: normal;
}


.readMoreDiv{
  float:right;
  margin-right:40px
}

.reviewPageImg{
  border-radius: 10px;;
}
.detailsPreview{
  /* margin-left:350px; */
  color:black;
  min-width: 50px;
  max-width:700px;
  width:700px;
  margin-bottom:200px;
  padding-left: 350px;
  /* display:flex;
  justify-content: right; */
}

.authorPrev{
  /* padding-left:200px; */
  /* padding-right:200px; */
  width:300px;
  margin-top: 10px;
  margin-left:-10px;
  /* margin-bottom:50px; */
}

/* I use centering in the div container to center stuff within it */
/* .singleImageCon{
  display:flex; 
  justify-content: center;
} */
/* I need to give border-radius to the image directly instaed of its container  */
.singleImage{
  border-radius: 15px;
  margin-left:50px;
}
.singleBody{
  margin-left:50px;
  font-size:20px;
}

#noImgText{
  display: flex;
  justify-content: center;
}

.footerItem{
  font-size: 10px;
  margin: 0 222px;
  /* display: flex; */
  /* justify-content: center; */
}

.entireFooter{
  display: flex;
  justify-content: center;
  position: fixed;
  bottom:0;
  width: 100%
}

.footer {
  /* Your existing styles for .footer */
  display:flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  /* left: 0; */
  width: 100%;
  /* padding: 20px; */
  transition: opacity 0.3s;
}

.footerItem {
  font-size:17px;
  margin: 0 100px; /* Optional: add some space between the items */
}

.show {
  opacity: 1;
  pointer-events: auto;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
}

.filler {
  flex: 1;
}

.navDropdown {
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f8e8c8; /* Light brown color */
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navDropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent a {
  display: block;
  margin-bottom: 4px; /* Adjust this value to control the spacing between links */
}

.post-button-container{
  overflow: hidden;
}
.newPostBtn, .loginButton, .createPostButton{
  float: right;
  background-image: linear-gradient(-180deg, rgb(163, 138, 105) 0%, rgb(121, 31, 31) 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: .5rem 1.70rem;
  text-decoration: none;
  width: 15%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.loginButton:hover{
    background-image: linear-gradient(-180deg, #dbc1ac 0%, #634832 100%);
  
}

.createPostButton{
  float: right;
  margin-top:10px;
  margin-right:170px;
}

.newPostInput{
  margin-top:20px;
  margin-left: 200px;
  margin-bottom:15px;
  width:20%;
  height: 40px;
  resize: vertical;
  border-radius:10px;
  font-size: 15px;
  color: #634832;
}

.newPostBtn:hover {
  background-image: linear-gradient(-180deg, #dbc1ac 0%, #634832 100%);
}

h1,h2{
  color: 	#4c3727;
}

input{
  width: 10%;
  padding: 8px 20px;
  background-color: #dbc1ac;
}

.bodyInput{
  height: 180px;
  width: 60%;
  padding: 8px 20px;
  background-color: #dbc1ac;
  font-size: 14px;
}

.newPostImgPrev{
  margin-left: 200px;
  height:180px;
  
}

.imageInput{
  width: 200px;
  margin-left:70px;
  border-radius:10px;
}

label{
  color:	#38220f
}


.loginIn{
  border-radius: 10px;
  margin-left:10px;
  font-size:24px;
  width:30%;
  margin-top:4px;margin-bottom: 40px;
  
}





/*-----------------------------Landing Page/ Home Page Styles BELOW ---------------------------------------------------------------------*/
.homeCardCont {
  display: flex;
  width:100%;
  margin-left: 40px;
}

.homeTopCards {
  width: 30%;
  height: 80vh;
  border: 2px solid #b08769; /* Dark brown border */
  border-radius: 15px; /* Rounded edges */
  margin-right: 4%; /* Margin to separate the two boxes */
  margin-right: 60px; /* Margin to separate the two boxes */
}

.homeTopCards2 {
  width: 50%;
  height: 80vh;
  border: 2px solid #654321; /* Dark brown border */
  border-radius: 15px; /* Rounded edges */
  background-color: black;
}

.landingTitlesContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
}

/*-----------------------------Landing Page/ Home Page Styles ABOVE ---------------------------------------------------------------------*/