#regSuc{
  font-size: 14px;
}

#regFail{
  font-size: 14px;
  color: red;
}

.review-card{
  background:rgb(163, 138, 105);
  margin: 60px auto;
  padding: 1px 20px 20px 90px;
  position: relative;
}



.navLinks ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('/navBeans1.jpg');
  background-size: cover;
  height: 150px; /* Adjust this value as needed */
  padding: 0; /* Remove any default padding or margins */
  margin: 0;
  list-style: none;
}

.navLinks a{
  color: rgb(216, 178, 178)
}

ul li a{
  font-size:larger
}

body{
  background-color: #816d48;  
}

.navLinks li{
  color:black
}

.navLinks a:hover{
  color: white;
}

.review-card .rating{
  position: absolute;
  top:-20px;
  left:-5px;
  background:darkgreen;
  font-size:20px;
  width:90px;
  height:90px;
  text-align:center;
  color:white;
}

.footerItem{
  font-size: 10px;
  margin: 0 222px;
  /* display: flex; */
  /* justify-content: center; */
}

.entireFooter{
  display: flex;
  justify-content: center;
  position: fixed;
  bottom:0;
  width: 100%
}

.footer {
  /* Your existing styles for .footer */
  display:flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  /* left: 0; */
  width: 100%;
  /* padding: 20px; */
  transition: opacity 0.3s;
}

.footerItem {
  font-size:17px;
  margin: 0 100px; /* Optional: add some space between the items */
}

.show {
  opacity: 1;
  pointer-events: auto;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
}

.filler {
  flex: 1;
}

.navDropdown {
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f8e8c8; /* Light brown color */
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navDropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent a {
  display: block;
  margin-bottom: 4px; /* Adjust this value to control the spacing between links */
}